html{
    width: 100%;
    background-color: rgb(87, 84, 84);

}

* {
    box-sizing: border-box;
}

#mainBodyContainer{
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
    width: 90vw;
    margin: 0 auto;
    /* font-family: 'Share Tech Mono', monospace; */
    background-size: 100%;
    color: rgb(20, 19, 19);


}

h2{
    font-family: 'Blaka';
    text-align: center;
    font-size: 22pt;
}
nav{
    text-align: center;
}

.fightersArea{
    display: flex;
    justify-content: space-evenly;

}

.playerMoves{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 100px;
}

#nameBoxPlayer{
    /* border: 1px solid black; */
    /* width: 15vw;
    height: 10vh; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px 10px 10px;
}

#nameBoxCPU{
    /* border: 1px solid black; */
    /* width: 15vw;
    height: 10vh; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px 10px 10px;
}

.statBox{
    display: flex;
    flex-direction: column;
    margin: 0  auto;
    margin-right: 20px;
    min-width: 150px;
    height: 20vh;
    box-shadow: 0px 0px 10px 10px red;
    padding: 10px 10px 10px 10px;
}

#playerCharacterWindow{
    display: flex;
    width: 40%;
    /* flex-direction: column;
    justify-content: space-around; */
    align-items: center;
}

#playerImage{
    margin-left: 10px;
    /* border: 10px; */
    border-color: blue;
    width: 30vw;
    height: 40vh;
    background-image: url("./images/placeholder-player.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: blueviolet; */
}

#opponentImage{
    /* border: 1px; */
    border-color: blue;
    /* background-color: red; */
    width: 30vw;
    height: 40vh;
    background-image: url("./images/opponent-placeholder.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#cpuCharacterWindow{
    display: flex;
    width: 40%;
    /* flex-direction: column;
    justify-content: space-around; */
    align-items: center;
    flex-direction: row-reverse;
}

#combatLog{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 40hw;
    margin: auto;
}